%p#notice= notice

%p
  %b Sender:
  = @chat.sender_id
%p
  %b Reciever:
  = @chat.reciever_id
%p
  %b Content:
  = @chat.content

= link_to 'Edit', edit_chat_path(@chat)
\|
= link_to 'Back', chats_path
